<div>
    <div class="col-md-6">
        <h3>Reservation</h3>
        <p ng-bind="reservationFlightID"></p><br>
        Number of seats<br> <input type="number" ng-model="reservationSeats"><br>
        Name <br><input type="text" ng-model="reservationName"><br>
        Phone <br><input type="text" ng-model="reservationPhone"><br>
        Email <br><input type="email" ng-model="reservationEmail"><br>
        <br>
        <p>Add passsengers</p>
        Firstname <br><input type="text" ng-model="passenger.reservationFirstname"><br>
        Lastname <br><input type="text" ng-model="passenger.reservationLastname"><br><br>
        <button ng-click="addPassenger(passenger)">Add</button>
        <button ng-click="removePassenger()">Remove</button>
        <br><br><br><br>
        <button ng-click="reserve()">Make reservation</button>
        <br><br><br><br>
        <a href="#view1"><button>Home</button></a>
    </div>
    <div class="col-md-6">
        <h3>Passengers added</h3>
        <ul ng-repeat ="p in passengerReservationList track by $index">
            <li>{{p.lastname}}, {{p.firstname}}</li>
        </ul>
    </div>
</div>

