<h1 style = color:white><b>Lucky Airline Search</b></h1>
<h3>Search for flights</h3>
<div id="div-1" class="col-md-15"> 
    <form>
        Fly From <input type="text" size="2" placeholder="IATA" ng-model="from" required>
        Departure Date <input type="date" ng-model="date" required>
        Seats <input type="number" placeholder="Number Of Seats" min="1" ng-model="seats" required>
        <button type="submit" ng-click="getFlights()">Search</button>
    </form>
</div>  
<br><br>
<div id="div-1" class="col-md-15">   
    <form>
        Fly From <input type="text" size="2" placeholder="IATA" ng-model="from2" required>
        Fly To <input type="text"  size="2" placeholder="IATA" ng-model="to2" required>
        Departure Date <input type="date" ng-model="date2" required>
        Seats <input type="number" placeholder="Number Of Seats" min="1" ng-model="seats2" required>
        <button type="submit" ng-click="getFlights2()">Search</button>
    </form>
</div> 
<div>
    <div>
        <div class="col-md-5"></div>
        <div class="col-md-7">
            <img src="app/view1/img/flyingcat.gif" alt="sm" ng-show="loadImg" width="100px" height="100px"/>
        </div>
    </div>
    <h3 >Available Flights</h3>
    <div class="row">
        <div>
            <table class="table">

                <colgroup>
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 5%;">
                    <col span="1" style="width: 5%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 5%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 10%;">
                </colgroup>
                <thead>
                    <tr>
                        <td>Airline</td>
                        <td>Flight Id</td>
                        <td>Origin</td>
                        <td>Destination</td>
                        <td>Date</td>
                        <td>Time</td>
                        <td>Available seats</td>
                        <td>Total price </td>
                        <td>Travel time</td>
                        <td>Make reservation</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="fly in data">
                        <td>{{fly.airline}}</td>
                        <td>{{fly.flightID}}</td>
                        <td>{{fly.origin}}</td>
                        <td>{{fly.destination}}</td>
                        <td>{{fly.date| date:'yyyy-MM-dd'}}</td>
                        <td>{{fly.date| date:'HH:mm'}}</td>
                        <td>{{fly.numberOfSeats}}</td>
                        <td>{{fly.totalPrice| currency: "€ "}}</td>
                        <td>{{minToHours(fly.traveltime)}}</td>
                        <td><a href="#reservation" ng-click="prepareReservation(fly.flightID, fly.normalurl)"> <button>Reserve</button></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p>{{MSG}}</p> 
</div>
<div class="col-md-3"></div>
<div class="col-md-9" id="cf">
    <br>
    <p>Sponsored by</p><h4><b style="color: darkblue">FluffyPanda Airlines</b></h4>
    <img class="bottom" src="app/view1/img/our.jpg" width="400" height="200" alt="Jeg kommer snart tilbage"/>
    <img class="top" src="app/view1/img/Fluffypanda.JPG" width="400" height="200" alt="Jeg kommer snart tilbage"/>
</div>
