<h2>Your reservations</h2>
<br><br>
<div>
    <div ng-repeat="res in data">
        <div id="div-2">
            <div class="col-md-8">
                <p>FlightId: {{res.flightID}}</p>
                <p>Origin: {{res.Origin}}</p>
                <p>Destination: {{res.Destination}}</p>
                <p>Date: {{res.Date}}</p>
                <p>Flighttime: {{res.FlightTime}}</p>
                <p>Number of seats: {{res.numberOfSeats}}</p>
                <p>Reserveename: {{res.ReserveeName}}</p>
                <br><br><br>
            </div>
            <div class="col-md-4">
                <p>Passengers:</p>
                <ul ng-repeat="pas in res.Passengers track by $index">
                    <li>{{pas.lastName}} , {{pas.firstName}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="col-md-5"></div>
    <div class="col-md-7">
        <img src="app/view1/img/flyingcat.gif" alt="sm" ng-show="loadImg" width="100px" height="100px"/>
    </div>
</div>
<div>
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <br><br>
        <p>{{MSG}}</p> 
        <br><br>
    </div>
</div>
